* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #23685b;
    padding-bottom: 10px;
}

header h1 {
    font-size: 2.5em;
    color: #23685b;
}

.section {
    margin-top: 20px;
}

h2 {
    color: #7bf1dc;
    border-bottom: 2px solid #23685b;
    padding-bottom: 5px;
}

#skills-list li {
    list-style: none;
    display: inline-block;
    background-color: #23685b;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}
